/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #ff0070;
  --bg-color: #000028;
  --text-color-logo: #db00ff;
  --text-color-blok: #f1b2ce;
  --text-color-title: #000028;
  --border-color:#ff0070;
  --title-card-color: #ff0070;
}
:root.theme-dark .page {
  background-image: url(../images/cover-image-dark.png);
}
:root.theme-dark .decor_top {
  visibility: visible;
}
