/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #ff0070;
  --bg-color: #000028;
  --text-color-logo:#DB00FF;
  --text-color-one: #F1B2CE;
  --text-color-two: #000028;
  --main-font: 'IBM Plex mono', monospace;
  --font-size: 18px;
  --font-family: 'IBM Plex Mono', monospace;
}
:root.theme-dark .page {
  background-image: url(../images/cover-image-dark.png);
}
:root.theme-dark .decor_top{
  visibility: visible;
}