/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #FF8DCB;
  --bg-color: #FFF1F7;
  --text-color-logo:#FFC2E6;
  --text-color-one: #353430;
  --text-color-two: #353430;
  --main-font: 'IBM Plex mono', monospace;
  --font-size: 18px;
  --font-family: 'IBM Plex Mono', monospace;
}
:root.theme-light .page {
  background-image: url(../images/cover-image-light.png);
}
.decor_top{
  visibility: hidden;
}
@media (prefers-color-scheme: light) {
  :root {
  --accent-color: #FF8DCB;
  --bg-color: #FFF1F7;
  --text-color-logo:#FFC2E6;
  --text-color-one: #353430;
  --text-color-two: #353430;
  --main-font: 'IBM Plex mono', monospace;
  --font-size: 18px;
  --font-family: 'IBM Plex Mono', monospace;
}
.page {
  background-image: url(../images/cover-image-light.png);
}
}
