/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #ff8dcb;
  --bg-color: #fff1f7;
  --text-color-logo: #ffc2e6;
   --text-color-blok: #353430;
  --text-color-title: #353430;
  --border-color: #353430;
  --title-card-color: #000028;
}
:root.theme-light .page {
  background-image: url(../images/cover-image-light.png);
}
.decor_top {
  visibility: hidden;
}
@media (prefers-color-scheme: light) {
  :root {
  --accent-color: #ff8dcb;
  --bg-color: #fff1f7;
  --text-color-logo: #ffc2e6;
   --text-color-blok: #353430;
  --text-color-title: #353430;
  --border-color: #353430;
  --title-card-color: #000028;
  }
  .page {
    background-image: url(../images/cover-image-light.png);
  }
}
