/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --bg-color: #000028;
  --text-color-logo: #db00ff;
  --text-color-blok: #f1b2ce;
  --text-color-title: #FF0070;
  --title-card-color: #FF0070;
  --font-size: 18px;
  --font-family: "IBM Plex Mono", monospace;
  --border-color:#ff0070;
}
